$base-color: rgb(247, 247, 247);
$button-color: rgb(0, 81, 255);
$button-color-hover: #0034a5;
$main-text-color: rgb(15, 15, 15);

@mixin transition {
    transition: 200ms ease-in-out;    
}
@mixin button {
    height: 2.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $button-color;
    border-radius: 0.321rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition();

            a {
                color: #fff;
                text-decoration: none;

            }

            &:hover {
                background-color: $button-color-hover;
                transform: scale(1.03);
            }
}
html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0 auto;
    background-color: $base-color;
}
.container {
    display: flex;
    .container_childs {
        flex-grow: 1;
    }
}


// page styles starts here
header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-left: 10rem;
        // padding-right: 10rem;
        height: 3.125rem;
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1000;
        
        a {
            text-decoration: none;
            color: $main-text-color;

            &:hover {
                color: $button-color-hover;
            }
        }
        ul, .button {
            margin-left: 13rem;
            margin-right: 13rem;
        }

        .button {
            @include button();
            @include transition();

            a {
                color: #fff;

            }

            &:hover {
                background-color: $button-color-hover;
                transform: scale(1.03);
            }
        }
        li {
            list-style: none;
            display: inline-block;
            margin: auto 1rem;
        }
    }

    //img cover
    .container_cover {
        width: 100%;
        height: 40rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cover_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1000;

    }
    // cover text
    .cover_text {
        width: 45%;
    
        h2 {
            text-align: center;
            color: #fff;
            font-size: 3rem;
        }

    //cover form input
    }
    form {
        display: flex;
        justify-content: center;
        input {
            width: 30rem;

        }
        .button {
            @include button();
            margin-left: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

    // header end

    // main starts

    .kubas {
        width: 5rem;
        height: 15rem;
        background-color: $button-color-hover;
    }