$base-color: #ececec;
$button-color: rgb(0, 81, 255);
$button-color-hover: #0034a5;
$main-text-color: rgb(15, 15, 15);

@mixin transition {
    transition: 200ms ease-in-out;    
}
@mixin button {
    height: 2.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $button-color;
    border-radius: 0.321rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    @include transition();

            a {
                color: #fff;
                text-decoration: none;

            }

            &:hover {
                background-color: $button-color-hover;
                transform: scale(1.03);
            }
}
html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
        margin: 0;
    }
    h4 {
        font-size: 1rem;
    }
}

body {
    margin: 0 auto;
    background-color: $base-color;
}
.container {
    display: flex;
    .container_childs {
        flex-grow: 1;
        // border: 2px solid red;

    }
}


// page styles starts here
header {
    
    nav {
        display: flex;
        align-items: center;
        height: 3.125rem;
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1000;
        
        a {
            text-decoration: none;
            color: $main-text-color;

            &:hover {
                color: $button-color-hover;
            }
        }
        ul {
            padding: 0;
        }
        .button {
            position: absolute;
            right: 15%;
        }
        ul {
            position: absolute;
            left: 15%;
        }
        // ul, .button {
        //     margin-left: 13rem;
        //     margin-right: 13rem;
        // }

        .button {
            @include button();
            @include transition();

            a {
                color: #fff;

            }

            &:hover {
                background-color: $button-color-hover;
                transform: scale(1.03);
            }
        }
        li {
            list-style: none;
            display: inline-block;
            margin: auto 1rem;
        }
    }

    //img cover
    .container_cover {
        width: 100%;
        height: 50rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cover_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1000;

    }
    // cover text
    .cover_text {
        width: 45%;
        @media screen and (max-width: 800px) {
            width: 65%;
          }
    
        h2 {
            text-align: center;
            color: #fff;
            font-size: 3rem;
        }

    //cover form input
    }
    form {
        display: flex;
        justify-content: center;
        input {
            width: 30rem;

        }
        .button {
            @include button();
            margin-left: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

    // header end

    // main starts
main {


    .container {
        width: 100%;
        height: 28rem;
        position: relative;
        display: flex;
    }
    .container_childs {
        flex-basis: 50%;
        flex-grow: 1;
    }
    .white_bg {
        display: flex;
        background-color: #fff;
    }
    .row2_image {
        background-image: url('images/bg-showcase-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text {
        justify-content: center;
        align-self: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    .container.row {
       max-width: 70rem;
       margin: 0 auto;
    }
    .row .container_childs {
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            font-size: 1.6rem;
            margin: 0;
        }
        
        p {
            max-width: 15rem;
            color: rgb(78, 78, 78);
            
        }
       }

    i {
        color: $button-color;
        margin-bottom: 1rem;
    }
    .row3 {
        flex-direction: row-reverse;
        .row3_image{            
        background: url('images/bg-showcase-2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    }
    .row4_image {
        background: url('images/bg-showcase-3.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header_text {
        display: flex;
        justify-content: center;
        h3 {
            margin-top: 5rem;
        }
    }
    .row_testimonials {
        .container_childs {
        img {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            box-shadow: 1px 5px 8px black;
            margin-bottom: 2rem;
        }
        }
    }

    // before footer. header repeats
    
    .container_cover {
        width: 100%;
        height: 15rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cover_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1000;

    }
    // cover text
    .cover_text {
        width: 45%;
    
        h3 {
            text-align: center;
            color: #fff;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
        form {
            display: flex;
            justify-content: center;
            input {
                width: 25rem;
    
            }
            .button {
                @include button();
                margin-left: 0.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}

    // header repeats ends
    //footer starts
footer {
    height: 8rem;
    display: flex;
    background: #fff;

    .container_footer {
        flex-grow: 1;
        align-items: center;
        .container_childs {
            display: flex;
            justify-content: center;
        }
    }
    
    .footer_left {
        // margin-left: 10rem;
        ul {
            padding: 0;

            li {
                display: inline-block;

                a {
                    padding-right: 1rem;
                    text-decoration: none;
                    
                }
            }
        }
    }
    .footer_right{
        a {
            padding-right: 1rem;
            color: $button-color;
        }
    }
}
